@import "../_animations.scss";

.difficulty-selector {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    place-self: center;
    border-radius: 25%;
    gap: 2rem;
    h2 {
        font-size: 1.8rem;
    }
}

.difficulty-buttons {
    display: flex;
    gap: 1rem;
}
.difficulty-button {
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-family: "Tiny5", sans-serif;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.difficulty-button:hover {
    cursor: pointer;
    animation-name: bounce;
}
